@use 'variaveis';
.footer{
    background-color:variaveis.$navColor;
    text-align: center;
    padding: 16px 0 ;
    &__links{
        padding-top:8px;
        li{
            display: inline;
            
            img{
                width: 32px;
            }

        }
    }

}

.language{
    display: flex;
    align-items: center;
    justify-content: center;
    margin-bottom: 8px;
    img{
        height: 24px;
        margin:0 8px;
    }
    &__selector{
        font-weight: 700;
        padding:4px;
    }
}
