.hero{
    padding: 5vw;
    background-image: url(../images/Stalker/stalker5.png );
    background-repeat: no-repeat;
    min-height: 80vh;
    text-align: center;
    &__content{
        &__prize{
            width: 100px;
        }
    }
}