.hero{
    padding: 5vw;
    background-image: url(../images/Stalker/stalker5.png );
    background-repeat: no-repeat;
    min-height: 80vh;
    text-align: center;
    &__content{
        &__prize{
            width: 100px;
        }
    }
}

@media (max-width:767px){
    .hero{
        background-image: url(../images/Stalker/stalker5.png );
        background-size: contain;
        min-height: 50vh;
        text-align: center;
        &__content{
            h1{
                font-size: 40px;
                margin-top: 90px;
            }
            &__prize{
                width: 100px;
            }
        }
    }

}