@use 'variaveis';
@use 'hero';
@use 'about';
@use 'plot';
@use 'trailer';
@use 'header';
@use 'footer';

@font-face {
    font-family: Avenir;
    src: url(../../assets/fonts/Avenir-Regular.woff2);
    font-weight: 400;
}

@font-face {
    font-family: Avenir;
    src: url(../../assets/fonts/Avenir-Bold.woff2);
    font-weight: 700;
}

*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body{
    background-color: variaveis.$bgColor;
    font-family: Avenir, sans-serif;
}

@mixin text($fontSize:16px){
    font-size: $fontSize;
    line-height: $fontSize + 10px;
    color:variaveis.$textColor1;
}

@mixin title($fontSize: 36px){
    @include text($fontSize);
    color: variaveis.$textColor2;
    font-family: "Roboto Mono", monospace;
    font-weight: 400;
    margin-bottom: 16px;
}

.text-1{
    @include text(18px);
}

.text-2{
    @include text();
}

.text-3{
    @include text(14px);
}

.title-1{
    @include title(80px);
}

.title-2{
    @include title();
}

.title-3{
    @include title(28);
}

.link-text{
    @include text(18px);
    color: variaveis.$textColor2;
}
